.ddsmoothmenu{
    font: bold 14px Arial;
    
}

.ddsmoothmenu ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

/*Top level list items*/
.ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
    z-index: 9999 !important;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
    display: block;
    padding: 8px 20px;
    padding-left: 0px;
    text-decoration: none;
    text-transform: uppercase;
}
.ddsmoothmenu ul li:last-child a{}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul{
    position: absolute;
    left: 0;
    display:none; /*collapse all sub menus to begin with*/
    width:auto !important;
    visibility: hidden;
    margin-top:-4px;
}
.ddsmoothmenu ul li ul ul{
    position: absolute;
    left: 0;
    display:none; /*collapse all sub menus to begin with*/
    width:auto !important;
    visibility: hidden;
    margin-top:0px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{  height:auto;}
.ddsmoothmenu ul li ul li:hover{ height:auto; }
.ddsmoothmenu ul li ul li a {
    border-bottom: 1px solid #D3D3D3;
    /* border-top: 1px solid #DFDFDF; */
}
.ddsmoothmenu ul li ul li:last-child {
    border-bottom: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
    width: 180px; /*width of sub menus*/
    padding:15px 20px;
    margin: 0;
    font-size:11px;
    font-weight:normal;
    text-transform: none;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
                 opacity: 0.8;
}