.popup-detail {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.9em;
  z-index: 99999;
  border-radius: 4px;
  overflow: hidden;
  width: 300px; }
  .popup-detail .heading {
    padding: 8px;
    background: rgba(207, 0, 0, 0.75);
    color: #fff;
    font-weight: bold; }
  .popup-detail .content {
    padding: 8px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff; }

.advance-filter .search {
  padding: 9px 11px 7px; }
  .advance-filter .search .search-block {
    border: 1px solid #E6E6E6;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px; }
    .advance-filter .search .search-block input[type="text"] {
      float: left;
      border: 0px none;
      background: none;
      height: 43px;
      line-height: 43px;
      width: 70%;
      padding: 0px 17px;
      font-size: 11px;
      color: #5F5F5F;
      box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    .advance-filter .search .search-block input[type="submit"] {
      border: 0px;
      background: url("../images/search_icon.png") no-repeat center center;
      float: right;
      overflow: visible;
      padding: 0;
      text-indent: -999em;
      width: 30%;
      height: 43px;
      cursor: pointer; }
  .advance-filter .search .classify {
    transition: all 0.3s ease-out;
    font-size: 1em;
    font-weight: bold;
    color: #777;
    cursor: pointer;
    background: url(../images/collapse-sign-portrait.png) center right no-repeat; }
    .advance-filter .search .classify.open {
      background: url(../images/collapse-sign.png) center right no-repeat; }
  .advance-filter .search .custom-collapse p {
    margin-bottom: 0;
    line-height: 1.2; }
  .advance-filter .search .price-range label {
    font-size: 1em;
    color: #777; }
  .advance-filter .search .price-range input {
    color: #777 !important;
    font-weight: normal !important; }
  .advance-filter .search .price-range #slider-range {
    border-radius: 0; }
    .advance-filter .search .price-range #slider-range > div {
      background: #777; }
    .advance-filter .search .price-range #slider-range > a {
      transition: none !important;
      border-radius: 50%; }
  .advance-filter .search .custom-collapse {
    display: none; }

.categories ul {
  list-style: none; }
  .categories ul li {
    cursor: pointer; }
    .categories ul li:hover > a {
      color: #777 !important; }
  .categories ul a {
    display: block;
    font-size: 1em;
    line-height: 2;
    color: #777 !important; }
    .categories ul a i {
      color: #aaa; }
.categories > ul.custom-collapse-list {
  padding: 0; }
  .categories > ul.custom-collapse-list > li.level-1 {
    position: relative;
    transition: 200ms; }
    .categories > ul.custom-collapse-list > li.level-1 > a {
      transition: 300ms; }
    .categories > ul.custom-collapse-list > li.level-1 .collapse-toggle {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      background: url(../images/collapse-sign.png) top right no-repeat; }
      @media (min-width: 768px) {
        .categories > ul.custom-collapse-list > li.level-1 .collapse-toggle {
          background: url(../images/collapse-sign-portrait.png) top right no-repeat; } }
    @media (min-width: 768px) {
      .categories > ul.custom-collapse-list > li.level-1 > ul.level-2 {
        display: none;
        border-top: 2px solid #0241A6;
        width: 250px;
        background: #fff;
        position: absolute !important;
        top: 0;
        right: -272px;
        box-shadow: 0px 2px 5px #555;
        z-index: 99999999 !important; }
        .categories > ul.custom-collapse-list > li.level-1 > ul.level-2 a:hover {
          color: #0241A6 !important; }
      .categories > ul.custom-collapse-list > li.level-1:hover > a {
        color: #0241A6 !important; }
      .categories > ul.custom-collapse-list > li.level-1:hover > ul.level-2 {
        display: block; } }
    .categories > ul.custom-collapse-list > li.level-1.open > a {
      background: url(../images/collapse-sign.png) center right no-repeat; }
  .categories > ul.custom-collapse-list ul {
    padding-left: 15px; }

#brands-slider {
  text-align: center;
  margin-bottom: 50px;
  border-top: 1px solid #222; }
  #brands-slider a {
    display: block;
    color: #777;
    font-size: 1.3em; }
    #brands-slider a .media-container {
      height: 174px;
      overflow: hidden; }

.stat-wrapper {
  padding: 10px 0;
  border-bottom: 1px dotted #999;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #aaa; }
  .stat-wrapper .stat {
    margin-right: 10px; }
  .stat-wrapper a {
    font-size: 1.2em !important;
    color: #aaa; }
    .stat-wrapper a:hover {
      color: #0241a6; }

.col-left .block a {
  transition: 300ms;
  text-decoration: none; }
.col-left .block ul li a:hover {
  padding-left: 15px; }

.relate-blog a {
  color: #555;
  font-size: 1.1em;
  transition: 300ms; }
  .relate-blog a:hover {
    color: #0241A6 !important;
    padding-left: 10px; }
